{% extends 'hero_theme.html' %}

{% block content %}
<h1>Superhero Gallery</h1>
<ul>
    {% for hero in object_list %}
    <li>
        <h2>{{ hero.name }}</h2>
        <p>
            <img src="{{ hero.image }}" alt="{{ hero.name }}" width="300">
        </p>
        <p>
            <a href="{{ hero.pk }}">{{ hero.name }}</a>
            -
            <a href="{{ hero.pk }}/edit">Edit</a>
            -
            <a href="{{ hero.pk }}/delete">Delete</a>
        </p>
    </li>
    {% endfor %}
</ul>
{% endblock content %}